@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #02403d;
  font-family: "Montserrat", sans-serif;
}

.link {
  text-decoration: none;
  color: white;
}

header {
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-bottom: thin solid transparent;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
header .container nav button {
  background-color: transparent;
  border: none;
  outline: none;
  height: 48px;
  width: 48px;
}
header .container nav button .bar {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}
header .container nav button .bar::before, header .container nav button .bar::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #dbff42;
}
header .container nav button:hover .bar {
  gap: 0.4rem;
}

.scrolled {
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: rgba(2, 64, 61, 0.8);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  color: white;
  padding: 1rem 0;
  border-bottom-color: rgba(219, 255, 66, 0.08);
}

.overlay-menu {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: block;
  overflow: auto;
  visibility: hidden;
}
.overlay-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  background-color: rgba(2, 64, 61, 0.8);
  background-image: url("../images/bg-element.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  transform-origin: center;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.overlay-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: relative;
  height: 100%;
}
.overlay-menu .container .btnClose {
  background-color: transparent;
  border: none;
  outline: none;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1rem;
  right: 0;
  font-size: 2rem;
  color: #dbff42;
  opacity: 0.5;
}
.overlay-menu .container .btnClose:hover {
  opacity: 1;
}
.overlay-menu .container nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.overlay-menu .container nav a {
  font-size: 2rem;
  font-weight: 500;
  color: #dbff42;
  text-decoration: none;
  font-family: "Special Gothic Expanded One", sans-serif;
  width: -moz-fit-content;
  width: fit-content;
}
.overlay-menu .container nav a:hover {
  color: #9bad49;
}
.overlay-menu .container nav .active {
  color: #9bad49;
  position: relative;
}
.overlay-menu .container nav .active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #dbff42;
}
.overlay-menu .container .social-icons {
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin-top: 2rem;
}
.overlay-menu .container .social-icons a {
  color: #dbff42;
  font-size: 2rem;
}
.overlay-menu .container .social-icons a:hover {
  color: #0e6662;
}
.overlay-menu .container .contact-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
.overlay-menu .container .contact-details li {
  background-color: rgba(219, 255, 66, 0.08);
  border: thin solid rgba(219, 255, 66, 0.08);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.overlay-menu .container .contact-details li i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 100%;
  background-color: rgba(219, 255, 66, 0.08);
  border: thin solid rgba(219, 255, 66, 0.08);
  font-size: 22px;
  color: #dbff42;
}
.overlay-menu .container .contact-details li h5 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: calc(100% - 56px);
}
.overlay-menu .container .contact-details li h5 small {
  font-size: 0.8rem;
}
.overlay-menu .container .contact-details li h5 a {
  font-size: 1.24rem;
}
.overlay-menu .container .contact-details li h5 a:hover {
  color: #dbff42 !important;
}
.overlay-menu .container .contact-details li:hover {
  background-color: rgba(14, 102, 98, 0.08);
  border: thin solid rgba(14, 102, 98, 0.08);
}
.overlay-menu .container .contact-details a {
  color: #dbff42;
  text-decoration: none;
}
.overlay-menu .container .contact-details a:hover {
  color: #0e6662;
}

.open-menu {
  visibility: visible;
}
.open-menu .container {
  display: flex;
}
.open-menu::before {
  opacity: 1;
  transform: scale(1);
}

.logo {
  display: flex;
}
.logo img {
  display: block;
  height: 48px;
}

.link-button {
  border: thin solid #dbff42;
  color: #dbff42;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(219, 255, 66, 0.05);
  font-weight: 500;
}
.link-button:hover {
  background-color: #dbff42;
  color: #02403d;
}

.link-cta {
  background-color: #dbff42 !important;
  color: #02403d;
  border-color: transparent !important;
}
.link-cta:hover {
  background-color: #02403d !important;
  color: #dbff42 !important;
}

section {
  position: relative;
  padding: 100px 0;
}
section .title {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 800;
  line-height: 1;
  margin-bottom: 2rem;
  color: #dbff42;
  font-family: "Special Gothic Expanded One", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
section .title small {
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
section p {
  color: white;
}

.section-alt {
  background-color: #0e6662;
}

.section-dark {
  background-color: #02403d;
}
.section-dark .title {
  color: #dbff42;
}
.section-dark .title small {
  color: rgba(219, 255, 66, 0.5);
}
.section-dark h4 {
  color: white;
}
.section-dark p {
  color: white;
}

.section-light {
  background-color: white;
}
.section-light .title {
  color: #02403d;
}
.section-light .title small {
  color: #333;
}
.section-light p {
  color: #333;
}
.section-light .data-card {
  background-color: #02403d;
}
.section-light .data-card .img i {
  font-size: 3rem;
  color: #dbff42;
}
.section-light .data-card .card-title {
  margin-bottom: 1rem;
}
.section-light .data-card p {
  color: white;
}

.hero-section {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-top: 200px;
  height: 100%;
  position: relative;
}
.hero-section .title {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 800;
  line-height: 1;
  margin-bottom: 1rem;
  color: #dbff42;
  font-family: "Special Gothic Expanded One", sans-serif;
}
.hero-section .subtitle {
  color: white;
  font-size: clamp(1rem, 5vw, 2rem);
  margin-bottom: 2rem;
}
.hero-section p {
  color: white;
  margin-bottom: 2rem;
}
.hero-section::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 64, 61, 0.6);
  z-index: 1;
}
.hero-section .container {
  position: relative;
  z-index: 2;
}

.slide-bg {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0;
  z-index: -1;
}
.slide-bg > video,
.slide-bg > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.data-card {
  border: thin solid rgba(219, 255, 66, 0.08);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(219, 255, 66, 0.08);
  position: relative;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.data-card .img {
  display: block;
}
.data-card .content .card-title {
  font-size: 1.24rem;
  font-weight: 600;
  color: #dbff42;
}
.data-card:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  z-index: 1;
  transform: scale(1.02);
}

#about .data-card {
  height: 100%;
}
#about .data-card .img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(219, 255, 66, 0.2);
  height: 56px;
  width: 56px;
  border-radius: 100%;
}
#about .data-card .img i {
  font-size: 2rem;
  color: white;
}
#about .data-card .content .card-title {
  color: white;
  font-weight: 400;
  font-size: 1.16rem;
}

.section-element {
  background-color: #dbff42;
}
.section-element::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-element.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

#initiative .data-card {
  height: 100%;
  padding: 2rem;
}
#initiative .col-sm-12:first-child .data-card {
  background-color: #0e6662;
}
#initiative .col-sm-12:last-child .data-card {
  filter: sepia(1);
}

#access .data-card {
  height: 100%;
  padding: 2rem;
}
#access .col-sm-12 .data-card {
  background-color: #dbff42;
}
#access .col-sm-12 .data-card * {
  color: #02403d;
}
#access .col-sm-12:nth-child(2) .data-card {
  filter: sepia(1);
}
#access .col-sm-12:nth-child(3) .data-card {
  background-color: #f1f1f1;
}

.bullet-points {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  counter-reset: section;
}
.bullet-points .point {
  position: relative;
  display: flex;
  gap: 1rem;
  border: thin solid rgba(219, 255, 66, 0.08);
  background-color: rgba(2, 64, 61, 0.8);
  border-radius: 1rem;
  padding: 2rem;
  padding-left: 4rem;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.bullet-points .point::before {
  content: counter(section);
  counter-increment: section;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 72px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  font-size: 2rem;
  font-weight: 800;
  color: #dbff42;
  opacity: 0.5;
  background-color: rgba(219, 255, 66, 0.08);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.bullet-points .point:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  z-index: 1;
  transform: scale(1.02);
}
.bullet-points .point:hover::before {
  background-color: #dbff42;
  color: #02403d;
  opacity: 1;
}
.bullet-points .point .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bullet-points .point .card-title {
  color: #dbff42;
  font-weight: bold;
  margin-bottom: 1rem;
}
.bullet-points .point p {
  margin-bottom: 0;
}

#services {
  background-image: url("../images/bg-element.svg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#services .sticky-heading {
  position: sticky;
  top: 45%;
}/*# sourceMappingURL=main.css.map */