@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #02403d;
$secondary-color: #0e6662;
$accent-color: #dbff42;
$heading-color: $accent-color;
$subheading-color: #9bad49;
$paragraph-color: white;
$heading-font: "Special Gothic Expanded One", sans-serif;
$body-font: "Montserrat", sans-serif;


html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: $primary-color;
    font-family: $body-font;
}

.link {
    text-decoration: none;
    color: $paragraph-color;
}

header {
    padding: 2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    border-bottom: thin solid transparent;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            button {
                background-color: transparent;
                border: none;
                outline: none;
                height: 48px;
                width: 48px;

                .bar {
                    display: flex;
                    flex-direction: column;
                    gap: .6rem;
                    width: 100%;

                    &::before,
                    &::after {
                        content: '';
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: $accent-color;
                    }
                }

                &:hover {
                    .bar {
                        gap: .4rem;
                    }
                }
            }
        }
    }
}

.scrolled {
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background: rgba($primary-color, .8);
    backdrop-filter: blur(24px);
    color: white;
    padding: 1rem 0;
    border-bottom-color: rgba($accent-color, .08);
}

.overlay-menu {

    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: block;
    overflow: auto;
    visibility: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(24px);
        background-color: rgba($primary-color, 0.8);
        background-image: url('../images/bg-element.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        transform-origin: center;
        opacity: 0;
        transform: scale(.5);
        transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        position: relative;
        height: 100%;

        .btnClose {
            background-color: transparent;
            border: none;
            outline: none;
            width: 48px;
            height: 48px;
            position: absolute;
            top: 1rem;
            right: 0;
            font-size: 2rem;
            color: $accent-color;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a {
                font-size: 2rem;
                font-weight: 500;
                color: $accent-color;
                text-decoration: none;
                font-family: $heading-font;
                width: fit-content;

                &:hover {
                    color: $subheading-color;
                }
            }

            .active {
                color: $subheading-color;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $accent-color;
                }
            }
        }

        .social-icons {
            display: flex;
            justify-content: start;
            gap: 1rem;
            margin-top: 2rem;

            a {
                color: $accent-color;
                font-size: 2rem;

                &:hover {
                    color: $secondary-color;
                }
            }
        }

        .contact-details {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0;
            margin: 0;

            li {
                background-color: rgba($accent-color, .08);
                border: thin solid rgba($accent-color, .08);
                border-radius: 1rem;
                padding: 1rem;
                display: flex;
                gap: 1rem;

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 56px;
                    width: 56px;
                    border-radius: 100%;
                    background-color: rgba($accent-color, .08);
                    border: thin solid rgba($accent-color, .08);
                    font-size: 22px;
                    color: $accent-color;

                }

                h5 {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    width: calc(100% - 56px);

                    small {
                        font-size: .8rem;
                    }

                    a {
                        font-size: 1.24rem;

                        &:hover {
                            color: $accent-color !important;
                        }
                    }
                }

                &:hover {
                    background-color: rgba($secondary-color, .08);
                    border: thin solid rgba($secondary-color, .08);
                }
            }

            a {
                color: $accent-color;
                text-decoration: none;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}

.open-menu {
    visibility: visible;

    .container {
        display: flex;
    }

    &::before {
        opacity: 1;
        transform: scale(1);
    }
}

.logo {
    display: flex;

    img {
        display: block;
        height: 48px;
    }
}

.link-button {
    border: thin solid $accent-color;
    color: $accent-color;
    padding: .8rem 2rem;
    border-radius: 100px;
    text-decoration: none;
    display: flex;
    width: fit-content;
    gap: 1rem;
    backdrop-filter: blur(5px);
    background-color: rgba($accent-color, 0.05);
    font-weight: 500;

    &:hover {
        background-color: rgba($accent-color, 1);
        color: $primary-color;
    }
}

.link-cta {
    background-color: rgba($accent-color, 1) !important;
    color: $primary-color;
    border-color: transparent !important;

    &:hover {
        background-color: $primary-color !important;
        color: $accent-color !important;
    }
}

section {

    position: relative;
    padding: 100px 0;

    .title {
        font-size: clamp(1.5rem, 5vw, 3rem);
        font-weight: 800;
        line-height: 1;
        margin-bottom: 2rem;
        color: $accent-color;
        font-family: $heading-font;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        small {
            font-size: clamp(.8rem, 5vw, 1.5rem);
            font-family: $body-font;
            font-weight: normal;
        }
    }

    p {
        color: $paragraph-color;
    }
}

.section-alt {
    background-color: $secondary-color;
}

.section-dark {
    background-color: $primary-color;

    .title {
        color: $accent-color;

        small {
            color: rgba($accent-color, .5);
        }
    }

    h4 {
        color: white;
    }

    p {
        color: white;
    }
}

.section-light {
    background-color: white;

    .title {
        color: $primary-color;

        small {
            color: #333;
        }
    }

    p {
        color: #333;
    }

    .data-card {
        background-color: $primary-color;

        .img {
            i {
                font-size: 3rem;
                color: $accent-color;
            }
        }

        .card-title {
            margin-bottom: 1rem;
        }

        p {
            color: white;
        }
    }
}

.hero-section {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-top: 200px;
    height: 100%;
    position: relative;

    .title {
        font-size: clamp(2rem, 5vw, 4rem);
        font-weight: 800;
        line-height: 1;
        margin-bottom: 1rem;
        color: $accent-color;
        font-family: $heading-font;
    }

    .subtitle {
        color: white;
        font-size: clamp(1rem, 5vw, 2rem);
        margin-bottom: 2rem;
    }

    p {
        color: white;
        margin-bottom: 2rem;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($primary-color, 0.6);
        z-index: 1;
    }

    // video {
    //     position: absolute;
    //     z-index: -1;
    //     top: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    //     object-fit: cover;
    // }

    .container {
        position: relative;
        z-index: 2;
    }
}

.slide-bg {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    z-index: -1;

    > {

        video,
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}



.data-card {
    border: thin solid rgba($accent-color, .08);
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba($accent-color, .08);
    position: relative;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    .img {
        display: block;

    }

    .content {
        .card-title {
            font-size: 1.24rem;
            font-weight: 600;
            color: $heading-color;
        }
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba(black, .5);
        z-index: 1;
        transform: scale(1.02);
    }
}

#about {
    .data-card {
        height: 100%;

        .img {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($accent-color, .2);
            height: 56px;
            width: 56px;
            border-radius: 100%;

            i {
                font-size: 2rem;
                color: white;
            }
        }

        .content {
            .card-title {
                color: white;
                font-weight: 400;
                font-size: 1.16rem;
            }
        }
    }
}

.section-element {
    background-color: $accent-color;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/bg-element.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
    }
}

#initiative {
    .data-card {
        height: 100%;
        padding: 2rem;
    }

    .col-sm-12 {
        &:first-child {
            .data-card {
                background-color: $secondary-color;
            }
        }

        &:last-child {
            .data-card {
                filter: sepia(1);
            }
        }
    }
}

#access {
    .data-card {
        height: 100%;
        padding: 2rem;
    }

    .col-sm-12 {
        .data-card {
            background-color: $accent-color;

            * {
                color: $primary-color;
            }
        }

        &:nth-child(2) {
            .data-card {
                filter: sepia(1);
            }
        }

        &:nth-child(3) {
            .data-card {
                background-color: #f1f1f1;
            }
        }
    }
}

.bullet-points {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    counter-reset: section;

    .point {
        position: relative;
        display: flex;
        gap: 1rem;
        border: thin solid rgba($accent-color, .08);
        background-color: rgba($primary-color, .8);
        border-radius: 1rem;
        padding: 2rem;
        padding-left: 4rem;
        transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

        &::before {
            content: counter(section);
            counter-increment: section;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 72px;
            width: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            font-size: 2rem;
            font-weight: 800;
            color: $accent-color;
            opacity: .5;
            background-color: rgba($accent-color, .08);
            transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }

        &:hover {
            box-shadow: 0 1rem 2rem rgba(black, .5);
            z-index: 1;
            transform: scale(1.02);

            &::before {
                background-color: rgba($accent-color, 1);
                color: $primary-color;
                opacity: 1;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .card-title {
            color: $accent-color;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 0;
        }
    }
}

#services {
    background-image: url('../images/bg-element.svg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .sticky-heading {
        position: sticky;
        top: 45%;
    }
}

#benefits {
    background-color: #dde5e2;
}

.ul-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
}

.cta-box {
    background-image: linear-gradient(45deg, rgba($accent-color, .5), white);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    text-align: center;

    .cta-title {
        color: $primary-color;
        font-family: $heading-font;
        font-weight: 800;
    }

    h4 {
        color: $primary-color;
        font-weight: 400;
        font-size: 1.16rem;
        margin-bottom: 1rem;
    }

    p {
        color: #222;
        margin-bottom: 0;
    }
}

#team {
    overflow: hidden;

    .teams {
        .owl-stage-outer {
            overflow: visible;

            .owl-item {
                opacity: .4;
            }

            .owl-item.active {
                opacity: 1;
            }
        }

        .owl-nav {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: 2rem;

            button {
                height: 48px;
                width: 48px;
                border-radius: 100%;
                background-color: rgba($primary-color, .5);
                color: $accent-color;

                &:hover {
                    background-color: rgba($primary-color, 1);
                }

                &:active {
                    background-color: rgba($secondary-color, 1);
                }
            }

        }
    }
}

.teams {
    position: relative;

    .item {
        background-image: linear-gradient(45deg, $primary-color, $secondary-color);
        border-radius: 1rem;
        padding: 2rem;
        color: $accent-color;
        height: 100%;
        min-height: 360px;
        display: flex;
        gap: 2rem;

        img {
            display: block;
            margin: 0 0 1rem;
            background-color: $secondary-color;
            height: 150px;
            width: 150px;
            border-radius: 100%;
            border: thick solid rgba($accent-color, .08);
        }

        .content {
            display: flex;
            flex-direction: column;
        }

        .name {
            font-family: $heading-font;
            margin-bottom: 0;
        }

        .designation {
            font-size: 1rem;
            color: white;
            margin-bottom: 1rem;
        }

        ul {
            margin: 0;
            padding-left: 1rem;

            p {
                color: white;
            }
        }
    }
}

footer {
    background-color: #002220;
    padding: 100px 0 0;
    color: white;
    position: relative;

    .foot-logo {
        display: block;
        height: 40px;
        margin-bottom: 2rem;
    }
    a{
        display: block;
        color: white;
        text-decoration: none;
        margin-top: 1rem;
        &:hover {
            color: $accent-color;
        }
    }
    .copyright-note {
        font-size: .8rem;
        color: rgba(white, .5);
        margin-top: 50px;
        text-align: center;
        background-color: #011311;
        padding: 50px 0;
        p{
            margin: 0;
        }
    }
}